.navbar{
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 10px 10px 10px;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}
.nav_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid grey; */
    margin-right: 20px;
    gap: 20px;
}
.item{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

